*{
    margin: 0px;
    padding: 0px;
}
html{
    height: 100%;
}
body{
    height: calc(100% - 70px);
}
.main-blok{
    margin-top: 70px;
    height: calc(100% - 70px);
}
#log_block .panel-heading h4.panel-title {
    display: inline-block;
}
#log_block .panel-heading {
    position: relative
}
#log_block .panel-heading span{
    position: absolute;
    right: 10px;
}
#log_block .tbl-edit-icon{    
    float: right;
    margin: 0 5px;
}
#log_block .tbl-edit-icon:hover{    
    color: green;
    cursor: pointer;
}
#log_block .js-unload-deploy:hover{    
    color: #66ccff;
    cursor: pointer;
}
#log_block .tbl-edit-icon-obj{    
    float: right;
    color: gainsboro;
}
#log_block .tbl-edit-icon-obj:hover{    
    color: black;
    cursor: pointer;
}
#log_block .tbl-edit-icon-obj.color-red:hover{    
    color: red;
    cursor: pointer;
}
.changeble{
    background: #eee;
}
#log_block .tbl-edit-icon-obj.active{
    color: black;
}

.tbl-detail table td:nth-child(2), .tbl-detail table td:nth-child(4), .tbl-detail table td:nth-child(5){    
    width: 20px;
}
.good-update{
    background-color: #dff0d8;
}
.error-update{
    background-color: #ff4d4d;
}
.new{
    border-left: 2px solid #dff0d8;
}

.rb-filter-type input[type=radio]{
    margin-right: 5px;    
}
.rb-filter-type label{
    padding: 0 5px;   
    width: 100%;
}
.rb-filter-type label:hover{
    cursor: pointer;
}

@media(min-width:768px){
    .modal-dialog {
            width: 850px;
            margin: 30px auto;
    }
}
.login-block{
    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;
    height: inherit;
    background:url('/images/404.jpg') top right no-repeat #fff;
}
.login-form{
    width: 400px;
}

#error-text{
    color: #ff4d4d;
    font-size: 0.8em;
}
.redText{
    color: #ff4d4d;
}
.greenText{
    color: #3c763d;
}
.input-list input[type="text"]{
        width: calc(100% - 2px);
        box-sizing: padding-box;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        border-radius: 4px;
}
.input-list--list{
        margin: 0;
        padding: 0 15px;
        position: absolute;
        left: 0;
        top: 36px;
        width:100%;
        z-index: 1000;
}
.input-list--list input[type="checkbox"]{
        margin: 0 5px;
}
.input-list--list li{
        list-style-type: none;
        text-overflow: ellipsis;
        width:100%;
        white-space: nowrap;
        overflow: hidden;
        border-left: solid 1px #ccc;
        border-right: solid 1px #ccc;
        background-color: #fff;
}	
.input-list--list li:last-child{
        border-bottom: solid 1px #ccc;
}
.input-list__hidden{
        display: none;
}

img.h-logo{
    vertical-align: top;
    height: 36px;
}

.footer-relative{
    position: relative;
}
.left-trash{
    position: absolute;
    left: 15px;
    top: 20px;
    font-size: 1.5em;
    cursor: pointer;
}
.left-trash:hover{
    color: #777;
}
/* errorlog */
.list-caption{
    list-style-type: none;
}
.list-caption ul{
    margin-left: 25px;
}

.js-table-detail th:nth-child(1){
    width: 46%;   
}
.js-table-detail th:nth-child(2){
    width: 46%;
}
.js-table-detail th:nth-child(3){
    width: 1%;
}